World Zoo/AnimalNames/wsdl/WorldZooAnimals.wsdl

<wsdl:definitions name="WorldZooAnimals" targetNamespace="http://example.com/worldzooanimals" xmlns:woza="http://example.com/worldzooanimals" xmlns:zoan="http://example.com/animalSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://example.com/animalSchema" schemaLocation="../schema/ZooAnimals.xsd"/>
		</xsd:schema>
	</wsdl:types>
        <!-- GET Animal Names-->
	<wsdl:message name="getAnimalNamesRequestMessage">
		<wsdl:part name="requestPart" element="zoan:getAnimalNamesRequest"/>
	</wsdl:message>
	<wsdl:message name="getAnimalNamesResponseMessage">
		<wsdl:part name="requestPart" element="zoan:getAnimalNamesResponse"/>
	</wsdl:message>
        <!-- GET Animal Stats-->
        <wsdl:message name="getAnimalStatsRequestMessage">
		<wsdl:part name="requestPart" element="zoan:getAnimalStatsRequest"/>
	</wsdl:message>
	<wsdl:message name="getAnimalStatsResponseMessage">
		<wsdl:part name="requestPart" element="zoan:getAnimalStatsResponse"/>
	</wsdl:message>
	<wsdl:portType name="worldZooAnimalsPortType">
		<wsdl:operation name="getAnimalNames">
			<wsdl:input message="woza:getAnimalNamesRequestMessage"/>
			<wsdl:output message="woza:getAnimalNamesResponseMessage"/>
		</wsdl:operation>
                <wsdl:operation name="getAnimalStats">
			<wsdl:input message="woza:getAnimalStatsRequestMessage"/>
			<wsdl:output message="woza:getAnimalStatsResponseMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WorldZooAnimalsBinding" type="woza:worldZooAnimalsPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="getAnimalNames">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
                <wsdl:operation name="getAnimalStats">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="WorldZooAnimals">
		<wsdl:port name="NameServicePortTypePort" binding="woza:WorldZooAnimalsBinding">
			<soap:address location="http://www.example.com"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>